{% extends 'index.html' %}
{% load static %}
{% block title %} Password Done {% endblock title %}

{% block main-content %}
<div class="container my-0">
     <br>
      <div class="row">
        <h3>Welcome {{ request.user.username|capfirst }}</h3>
              <div class="col-sm-2 border-end">
                  <ul class="list-unstyled">
                       <li class="d-grid">
                            <a href="{% url 'profile' %}" class="btn btn-primary" style="background: linear-gradient(to bottom, #00c6fb , #005bea);">Change Password Done</a>
                      </li>
                 </ul>
              </div>

              <div class="col-sm-9 offset-sm-1 text-center">
                   <h3>Password Changed Successfully !!!</h3>
                  <div>
                    <img src="https://media.giphy.com/media/tf9jjMcO77YzV4YPwE/giphy.gif" alt="Giphy GIF" width="300" height="300">
                 </div>
             </div>
        </div>
</div>
{% endblock main-content %}