{% extends 'index.html' %}
{% load static %}
{% block title %} Password Complete {% endblock title %}

{% block main-content %}
<div class="container">
      <div class="row my-3">
         <div class="col-sm-6 offset-sm-3">
                <h3><center>Reset Password Completed!!</center></h3>
                <hr>
               <div class="text-center">
                <img src="https://media.giphy.com/media/PijzuUzUhm7hcWinGn/giphy.gif" alt="Giphy GIF" width="400" height="400">
              </div>
         </div>
     </div>
</div>
{% endblock main-content %}